/* Стилизация кнопки */
.primary-button {
    margin-top: 30px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: var(--blue);
    border-radius: 8px;
}

.primary-button__text {
    padding: 0 66px;
    color: var(--white);
}

.primary-button:hover {
    background: #2342C0;
}

.primary-button:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.primary-button--secondary {
    background: #7048E8;
}

.primary-button--secondary:hover {
    background: #5028C6;
}


.primary-button--alternate {
    background: var(--white);
    border: 1px solid var(--grey-3);
}

.primary-button__text--alternate {
    color: var(--grey-4);
}

.primary-button--alternate:hover {
    border: 1px solid var(--black);
    background: var(--white);

}