.card {
    width: 350px;
    height: 367px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.card__name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--black);
    text-align: center;

}




@media screen and (max-width: 992px) {
    .card {
        width: 164px;
        height: 210px;
    }

    .card__name {
        color: var(--black, #212429);
        font-size: 16px;
        line-height: 24px;
        margin-top: 165px;
        border-top: 1px solid var(--grey-2);
        padding-top: 11px;

    }
    
}