/* Стилизация аккордеона */

.accordion__item {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding-left: 30px;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    padding: 24px 0 16px 32px;
}

.accordion__item::before {
    content: url(../../assets/images/accordion_arrow.svg);
    position: absolute;
    right: 32px;
    top: 32px;
}

.accordion__item[open]::before {
    content: url(../../assets/images/accordion_arrow.svg);
    transform: rotate(180deg);
}


.accordion__item:last-child {
    margin-bottom: 0px;
}

.accordion__summary {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: flex;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}


.accordion__hidden-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}