.main {
    background: #F9FAFC;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.main__inner {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 68px 0 204px;
}

@media screen and (max-width:1109px) {
    .main__inner {
        justify-content: space-around; 
        gap: 16px;
        padding: 21px 0 133px;
    }
}