.radio {
    position: relative;
    display: inline-block;
}
.radio__input {
    position: absolute;
    clip: rect(0,0,0,0);
}
.radio__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

}
.radio__control {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
}
.radio__label {
    color: var(--gray-4);
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 24px;
}
.radio__control-inner{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: none;
}

.radio__input:checked ~ .radio__state .radio__control-inner {
    display: block;
    background: var(--primary);
}

.radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid var(--primary);
}

.radio__input:disabled ~ .radio__state .radio__control {
    border: none;
    background: var(--grey-2);
}
.radio__input:disabled ~ .radio__state .radio__control-inner {
    background: var(--grey-2);
}

.radio__input:disabled ~ .radio__state .radio__label {
    color: var(--grey-2);
}