.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.tooltip__bubble {
    background: var(--primary);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 21px;
    color: var(--grey-2);
    display: none;
    position: absolute;
    white-space: nowrap;
    bottom: calc(100% + 9px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__bubble::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 7px;
    transform: translateX(-50%);
    border-style: solid;
    border-color: var(--primary) transparent transparent transparent;
}

.tooltip__icon:hover+.tooltip__bubble {
    display: block;
}