.footer {
    padding-top: 72px;
    padding-bottom: 136px;
}

.footer__title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
    text-align: center;

}

.footer__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    max-width: 640px;
    margin: 0 auto;
}

.footer_template {
    padding-top: 92px;
    background-color: #F9FAFC;
    padding-bottom: 56px;
}

.footer__title_template {
    color: var(--grey-3);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}