.component {

height: 746px;


background: var(--white);
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 12px;
padding-left: 48px;

}
.component__title {

font-family: 'Inter';
font-weight: 400;
font-size: 28px;
line-height: 38px;
color: var(--grey-4);


}

@media screen and (max-width: 992px) {
    .component {
        width: 100vw;
    }
}